body { 
    background-color: blueviolet;
}
img {
    height: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
 
div {
    align-content: center;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: violet;
}

li{
    float: left;
}

li a{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(255, 0, 106);
}